// Variables de Colores
$primary-color: #4CAF50; // Verde principal
$secondary-color: #F44336; // Rojo secundario
$light-bg: #f9f9f9; // Fondo claro
$dark-color: #333; // Texto oscuro

// Variables de Fuente
$font-family: 'Arial, sans-serif';
$base-font-size: 16px;
